* {
  margin: 0;
  padding: 0;
}

.home {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  padding: 100px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 24px;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  padding: 24px 80px;
  color: #fff;
  line-height: 24px;
  text-align: center;
  border-radius: 50px;
  z-index: 1;
}

a::before {
  content: "";
  position: absolute;
  left: -5px;
  right: -5px;
  top: -5px;
  bottom: -5px;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 50px;
  filter: blur(20px);
  z-index: -1;
}

a:hover::before {
  animation: sun 8s infinite;
}

a:hover {
  animation: sun 8s infinite;
}

@keyframes sun {
  100% {
    background-position: -400% 0;
  }
}